.logo {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 40px;
  line-height: 0;

  &:hover {
    img {
      transform: rotate(-135deg) translateY(5px);
    }
  }

  img {
    width: 48px;
    height: 48px;
    transform: rotate(-135deg) translateY(25px);
    transition: transform .25s ease-in-out;
  }

  @media screen and (max-width: 640px) {
    position: fixed;

    img {
      transform: rotate(-135deg) translateY(5px);
    }
  }
}
