html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: sans-serif;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  body {
    align-items: flex-start;
  }
}
