*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
}

main {
  flex-direction: column;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 1% 2%;
}

.photos {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 641px) {
  main {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  body {
    align-items: flex-start;
  }
}
